%div(ng-controller="CurrentSprint")
  .row.type-headers
    %h3.col-md-3
      %span.count {{notes.new.length}}
      New
    %h3.col-md-3
      %span.count {{notes.started.length}}
      Started
    %h3.col-md-3
      %span.count {{notes.completed.length}}
      Finished
    %h3.col-md-3
      %span.count {{notes.accepted.length}}
      Resolved
  .modal.fade#issue-modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
          %h4.modal-title {{currentNote.title}}
        .modal-body
          #epiceditor(style="height: 300px")
        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          %button#save-btn.btn.btn-primary(type="button") Save changes

  .row
    .col-md-12.load-error.alert.alert-warning(style="display: none")
      %span.glyphicon.glyphicon-exclamation-sign
      Uh-oh! Something went wrong.
      #{link_to "Refresh the page", "javascript:location.reload(true)"}?
    .col-md-12.loading(style="{{loadStatus()}}")
      = image_tag "loading.gif", size: "16x16"
      Loading latest data...
    - %w[new started completed accepted].each do |sym|
      .col-md-3.status-column(data-status=sym)
        .issue(ng-repeat="note in notes.#{sym}"
               data-guid="{{note.guid}}"
               ng-bind-html="issueContents(note)")
